@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br />
    TESTful does not store any data whatsoever.<br />
    Any privacy concerns you have should be directed at your ISP, OS, the spybots you have installed and possibly whoever owns or maintains whatever addresses you hit with TESTful.<br />
    <br />
    -Emphatically, the TESTful "team"<br />
    <br />
</p>
